<h1 class = "users-title"><span style = "font-size:200%">Users</span></h1>

<ul class = "user-list" >
  
  <li *ngFor = "let user of users$" class = "user-tile">
    <!--this <a> element is the link to view the detilas of the user -->
     
      <a routerLink = "/details/{{user.id}}" style = "text-decoration:none">
    <ul style="list-style-type:none">
        
      <li style = "color:white;font-size:200%;font-weight:800px;margin-bottom:1em "><span style = "font-weight:700">{{ user.username }}</span></li>
      <li class = "user-email" style = "color:rgb(107, 255, 255); text-decoration:none">Email : {{user.email}}</li>
      <li>
        <a href = "http://{{user.website}}" style = " color:white;text-decoration:none">{{user.website}}</a>
      </li>
      
    </ul>
  </a>
  </li>
  

</ul> 
